$main-color: #22AFC1;
$subsidiary-color: #BDF5FC;
.Footer {
    margin-top: 40px;
    background-color: $main-color;
    width: 100%;
    padding: 32px 0;

    > div {
        height: fit-content;
        color: #ffffff;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        row-gap: 48px;
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 340px;
        }
        .Right {
            padding-right: 28px;
            ul {
                list-style: square;
                line-height: 37px;
            }
        }
        .Middle {
            gap: 14px;
            .Image {
                width: 175px;
                height: 175px;
            }
            .Icons {
                display: flex;
                flex-flow: row;
                align-items: center;
                width: 150px;
                justify-content: space-between;
                cursor: pointer;
                font-size: 25px;
            }
        }
        .Left {
            padding-right: 28px;
            > div {
                display: flex;
                flex-flow: column;
                gap: 22px;
                width: 100%;
                .LocationContainer {
                    .LocationIcon {
                        margin-top: 15px ;
                    }
                    p{
                        white-space: pre-line;
                        line-height: 29px;
                    }
                    
                }
                > div {
                    display: flex;
                    gap: 10px;

                    .Icon {
                        font-size: 25px;
                        margin-top: -2px;
                    }      
                }
            }
        }
    }
}
@media only screen and (max-width: 995px) {
    .Footer {
        > div {
            width: 100%;
            > div {
                flex: 1 1 100%;
                align-items: flex-start;
                margin: 0 60px;
            }
        }
        .Right {
            padding-right: 16px;
        }
        .Left {
            margin-top: 20px;
            padding: 0 !important;
            > div {
                .LocationContainer {
                    
                    align-items: flex-start;
                    p{
                        white-space:normal !important;
                    }
                    .LocationIcon {
                        margin-top: 5px !important;
                    }
                }
            }
        }
    }
}
