$main-color: #22afc1;
$subsidiary-color: #bdf5fc;
$title-color: #105c91;
.Workshops {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 1032px;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid #bdf5fc;
    padding: 10px 25px;
    border-radius: 8px;
    .Text {
        display: flex;
        flex-direction: column;
        height: 318px;
        max-width: 492px;
        justify-content: space-evenly;
        text-align: justify;
        h2 {
            color: $main-color;
            font-size: 18px;
            font-weight: bold;
        }
        ul {
            list-style: none;
            line-height: 37px;
            li{
                p{
                    display: inline;
                    color:$title-color ;
                }
            }
        }
        >p {
            padding-left: 18px;
        }
        > div {
            white-space: pre-line;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    a {
        display: flex;
        flex-flow: row;
        align-items: center;
        column-gap: 4px;
        color: $main-color;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        > div {
            display: none;
            position: relative;
            top: 2px;
        }
    }
    a:hover {
        > div {
            display: flex;
        }
    }
}
