$main-color: #22afc1;
$subsidiary-color: #bdf5fc;
$title-color: #105c91;
.Workshops {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 1032px;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    
    .Text {
        display: flex;
        flex-direction: column;
        max-width: 492px;
        gap: 20px;
        text-align: justify;
        h2 {
            color: $main-color;
            font-size: 18px;
            font-weight: bold;
        }
        ul {
            list-style: none;
            line-height: 37px;
            margin-top: 20px;
            li{
                white-space: pre;
                display: flex;
                align-items: center;
                svg{
                    color: $title-color;
                    font-size: 20px;
                    margin-left: 3px;
                }
                p{
                    display: inline;
                    color:$title-color ;
                }
            }
        }
        
        .Content {
            white-space: pre-line;
        }
    }
    .Image{
        display: flex;
        align-items: center;
    }
    
    a {
        display: flex;
        flex-flow: row;
        align-items: center;
        column-gap: 4px;
        color: $main-color;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        > div {
            display: none;
            position: relative;
            top: 2px;
        }
    }
    a:hover {
        > div {
            display: flex;
        }
    }
}
.Border{
    border: 2px solid #bdf5fc;
    padding: 20px 25px;
    border-radius: 8px;
}