$main-color: #22a6b3;
$subsidiary-color: #a2ecf3;
$title-color: #105c91;
.ColleaguesPage {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    row-gap: 40px;
    column-gap: 40px;
    max-width: 1032px;
}
.EachColleaguePage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .Text {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3{
            color: $main-color;
            margin-bottom: 4px;
        }
        .Email {
            direction: ltr;
            display: flex;
            align-items: center;
            gap: 2px;
            margin-top: 5px;
            svg {
                font-size: 21px;
                color: $main-color;
            }
        }
    }
}
