@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/IranSans/eot/IRANSansWeb.eot");
  src: url("../assets/IranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../assets/IranSans/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../assets/IranSans/woff/IRANSansWeb.woff") format("woff"),
    url("../assets/IranSans/ttf/IRANSansWeb.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: IranSans;
  color: #222222;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a93a2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22a6b3;
}
