$error-color: #ff4040;
.WorkshopsPage {
    .ShowError {
        position: relative;
        top: -18px;
        font-size: 0.9rem;
        color: $error-color;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
    .HideError{
        opacity: 0;
        top: -10px;
        transition: all 0.5s ease-in-out;
    }
    form {
        margin-top: -130px;
        > div {
            padding-top: 110px;
        }
        .SubmitButton {
            padding-top: 0;
            text-align: center;
            margin-top: -15px;
        }
    }
}
