$main-color: #22a6b3;
$sub-color: #a2ecf3;
$title-color: #105c91;
.Workshop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 1032px;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;

    .Text {
        display: flex;
        flex-direction: column;
        max-width: 492px;
        gap: 50px;
        text-align: justify;
        width: 370px;
        h2 {
            color: $main-color;
            font-size: 18px;
            font-weight: bold;
        }
        ul {
            list-style: none;
            text-align: right;
            display: flex;
            flex-direction: column;
            line-height: 50px;
            position: relative;
            li {
                white-space: pre-wrap;
                display: flex;
                flex-direction: row;
                align-items: center;
                p {
                    display: flex;
                    align-items: center;
                    color: $title-color;
                    svg {
                        color: $title-color;
                        font-size: 20px;
                        margin-left: 3px;
                    }
                }
                span {
                    display: flex;
                    line-height: 28px;
                    align-items: center;
                    position: absolute;
                    right: 100px;
                    sub{
                        margin: 10px 10px 0 0;
                    }
                }
            }
        }

        .Content {
            white-space: pre-line;
            > div {
                margin-bottom: 20px;
            }
        }
    }
    .Image {
        display: flex;
        align-items: center;
    }

    a {
        display: flex;
        flex-flow: row;
        align-items: center;
        column-gap: 4px;
        color: $main-color;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        > div {
            display: none;
            position: relative;
            top: 2px;
        }
    }
    a:hover {
        > div {
            display: flex;
        }
    }
}
.Border {
    border: 2px solid $sub-color;
    padding: 25px 30px;
    border-radius: 8px;
    margin-bottom: 35px;
    display: inherit;
}
@media only screen and (max-width: 500px) {
    .Workshop {
        a {
            justify-content: center;
        }
        .Text {
            align-items: center;
            width: unset;
            gap: 20px;
            ul {
                li {
                    flex-direction: column;
                    align-items: flex-start;
                    p {
                        margin-bottom: 4px;
                    }
                }
                span {
                    position: unset !important;
                    right: unset !important;
                    sub{
                        position: absolute;
                        left: 12px;
                    }
                }
            }
        }
    }
}
