$main-color: #22a6b3;
$sub-color: #a2ecf3;
$title-color: #105c91;
.Workshop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 1032px;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    .Text {
        display: flex;
        flex-direction: column;
        max-width: 492px;
        gap: inherit;
        text-align: justify;
        width: 370px;
        h2 {
            color: $main-color;
            font-size: 18px;
            font-weight: bold;
        }
        ul {
            list-style: none;
            text-align: right;
            display: flex;
            flex-direction: column;
            line-height: 50px;
            position: relative;
            li {
                white-space: pre-wrap;
                display: flex;
                flex-direction: row;
                align-items: center;
                p {
                    display: flex;
                    align-items: center;
                    color: $title-color;
                    svg {
                        color: $title-color;
                        font-size: 20px;
                        margin-left: 3px;
                    }
                }
                span {
                    display: flex;
                    line-height: 28px;
                    align-items: center;
                    position: absolute;
                    right: 100px;
                    sub {
                        position: relative;
                        left: -8px;
                        top: 3px;
                    }
                }
            }
        }

        .Content {
            white-space: pre-line;

            > div {
                line-height: 30px;
                margin-bottom: 20px;
            }
        }
    }
    .Image {
        display: flex;
        align-items: center;
        img {
            object-fit: contain;
        }
    }

    a {
        display: flex;
        flex-flow: row;
        align-items: center;
        column-gap: 4px;
        color: $main-color;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        > div {
            display: none;
            position: relative;
            top: 2px;
        }
    }
    a:hover {
        > div {
            display: flex;
        }
    }
    .Delete {
        position: absolute;
        left: 15px;
        bottom: 12px;
        width: 35px;
        height: 35px;
        background-color: #f3f3f3;
        color: $main-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            font-size: 20px;
        }
    }
    .Delete:hover {
        background-color: $main-color;
        color: #ffffff;
    }
}
.Border {
    border: 2px solid $sub-color;
    padding: 25px 30px;
    border-radius: 8px;
    margin-bottom: 35px;
    display: inherit;
}
.DeleteConfirmation {
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 250;
    .Backdrop{
        width: 100vw;
        height: 100vh;
        cursor: pointer;
        position: absolute; 
    }
    .DeleteBox{
        position: relative;
        width: 50%;
        height: 30vw;
        max-height: 140px;
        max-width: 520px;
        min-width: 330px;
        background-color: #ffffff;
        border-radius: 6px;
        z-index: 300;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: space-evenly;
        >div{
            display: flex;
            flex-flow: row;
            gap: 15px;
            button{
                font-size: 14px;
            }
        }
        i{
            position: absolute;
            right: 0;
            top: 0;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        i:hover{
            color: $main-color;
        }
    }
}
@media only screen and (max-width: 500px) {
    .Workshop {
        a {
            justify-content: center;
        }
        .Text {
            align-items: center;
            width: unset;
            gap: 20px;
            ul {
                li {
                    flex-direction: column;
                    align-items: flex-start;
                    p {
                        margin-bottom: 4px;
                    }
                }
                span {
                    position: unset !important;
                    right: unset !important;
                }
            }
        }
    }
}
