$main-color: #22AFC1;
$subsidiary-color: #BDF5FC;
.Header {
    position: fixed;
    background-color: rgba($color: $main-color, $alpha: 1);
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 30;

    > div {
        backdrop-filter: blur(15px);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        padding: 0 34px;
    }
    .Logo {
        display: block;
        width: 43px;
        height: 43px;
    }
    .MenuIcon {
        display: none;
        cursor: pointer;
        height: 26px;
        width: 26px;
    }
    .CancelIcon {
        display: none;
        cursor: pointer;
        height: 14px;
        width: 14px;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row;
        gap: 32px;

        li {
            color: #ffffff;
            padding: 0 5px 2px 5px;
            position: relative;
            width: fit-content;
 
        }
        .Active{
            a{
                font-weight: 500;
            }
            span{
                border-radius: 50px;
                position: absolute;
                height: 3px;
                background-color: $subsidiary-color;
                display: block;
                bottom: -4px;
                right: 0;
                width: 100%;
                animation: show 0.3s ease-out;
            }
        }
    }
}
@keyframes show{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@media only screen and (max-width: 995px) {
    .Header {
        direction: ltr;
        > div {
            backdrop-filter: unset;
            width: 100%;
            justify-content: space-between;
        }
        .MenuIcon,
        .CancelIcon {
            display: block;
        }

        ul {
            height: 0vh;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            backdrop-filter: blur(15px);
            display: flex;
            flex-flow: column;
            position: absolute;
            direction: rtl;
            top: 50px;
            background-color: rgba($color: $main-color, $alpha: 0.5);
            left: 0;
            right: 0;
            padding-right: 24px;
            z-index: -1;
            
            .Active{
                span{
                    animation: none;
                }
            }
        }
        
        .ResponsiveMenu {
            backdrop-filter: blur(15px);
            display: flex;
            flex-flow: column;
            position: absolute;
            direction: rtl;
            top: 0;
            background-color: rgba($color: $main-color, $alpha: 0.5);
            left: 0;
            right: 0;
            padding: 104px 24px 115px 0;
            z-index: -1;
            height: 57vh;
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }
    }
}
