$title-color: #105c91;
$sub-color: #a2ecf3;
.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .Title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        > div {
            margin-top: 70px;
            p {
                text-align: center;
                font-size: 24px;
                line-height: 36px;
                font-weight: bold;
                margin-bottom: 9px;
                color: $title-color;
                padding: 0 47px;
            }
        }
        .Line{
            width: fit-content;
            border-bottom: 3px solid $sub-color;
        }
    }
    .Content{
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        line-height: 28px;
    }
}
@media only screen and(max-width:995px){
    .ContentContainer{
        .Content{
            row-gap: 65px;
        }
    }
}